/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
/* Importation du style général du site */
@import url('designSite.css');

.admin {
    max-width: 900px;
    background: var(--white);
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-01);
    font-family: "Inter Tight", serif;
    text-align: left;
}

/* Table des utilisateurs */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: var(--blue-legal);
    color: var(--white);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Switches (boutons jauge) */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-desactivated);
    border-radius: 20px;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--white);
    border-radius: 50%;
    transition: 0.4s;
}

/* Switch activé */
input:checked + .slider {
    background-color: var(--switch-activated);
}

input:checked + .slider::before {
    transform: translateX(20px);
}