:root {
    --white: #ffffff;
    --black: #000000;
    --blue-background: #091d53b0;
    --blue-nav: #34495E;
    --button1: #d4a017;
    --button2: #b8860b;
    --button3: #8b6508;
    --box-shad:#0000004d;
    --search-bar: #2C3E50;
    --search-bar-button: #1ABC9C;
    --footer-bar: #2c3e50;
    --link-a-propos: #1ABC9C;
    --background-contact: #000000cc;
    --footer-end: #ffffff33;
    --background-body-form: #ffd8a5;
    --background-form: #ffeac3;
    --background-input-form: #f8d09c;
    --background-input-hover-form: #f59c38;
    --background-border-input-form:#ffd1a7;
}