/* Importation des polices de caractères */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Définition des couleurs */
:root {
    --white: #ffffff;
    --black: #000000;
    --aqua: #00ffff;
    --grey: #808080;
    --brown-filtr: #a52a2a;
    --bisque-filtr-zone: #ffe4c4;
    --blue-background: #34495E;
    --blue-nav: #34495E;
    --button1: #d4a017;
    --button2: #b8860b;
    --button3: #8b6508;
    --box-shad:#0000004d;
    --search-bar: #2C3E50;
    --search-bar-button: #1ABC9C;
    --footer-bar: #2c3e50;
    --link: #1ABC9C;
    --link-active: #20201f;
    --link-visited: #9e9e9e;
    --link-hover: #777d8d;
    --footer-text: #7E9CB0;
    --background-contact: #000000cc;
    --footer-end: #ffffff33;
    --background-body-form: #ffd8a5;
    --background-form: #ffeac3;
    --background-input-form: #f8d09c;
    --background-input-hover-form: #f59c38;
    --background-border-input-form:#ffd1a7;
}

/* Définitions des transitions */
@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -60%); }
    to { opacity: 1; transform: translate(-50%, -50%); }
}