/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
/* Importation du style général du site */
@import url('designSite.css');

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form label {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-family: "Inter Tight", serif;
}

.container-form p {
  padding: 0px 3px;
  font-weight: 400px;
  font-family: "Inter Tight", serif;
      
}

.container-form form {
  width: 500px;
  padding: 20px;
  border: 1px solid var(--border-form);
  border-radius: 10px;
  background-color: var(--background-form);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.container-form input[type="reset"], input[type="submit"] {
  background-color: var(--background-input-form);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
      
.container-form input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: var(--background-input-hover-form);  
}
      
/* Conteneur des boutons */
.button-form {
  text-align: center;      
  margin-top: 20px;
}

/* Espace entre les boutons */
.button1 {
  margin-right: 10px;
}

.container-form input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="password"] {
  padding: 10px 13px;
  color: #2E3B4E;
  border: 2px solid var(--border-form);
  border-radius: 8px;
  background-color: var(--white);
  font-size: 16px;
  font-family: "Inter Tight", serif;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

.message-decon-ok {
  display: none;
  padding: 15px;
  background-color: var(--border-form);
  color: var(--white);
  width: 50%;
  margin: 20px auto;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Inter Tight", serif;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 8px var(--shadow-03);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.message-decon-ok.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.message-error {
  display: none;
  padding: 15px;
  background-color: red;
  color: var(--white);
  width: 50%;
  margin: 20px auto;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Inter Tight", serif;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 8px var(--shadow-03);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.message-error.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Key password visibility */
.password-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Adjust lenth password container */
.password-container input[type="password"],
.password-container input[type="text"] {
  box-sizing: border-box;
}

.password-visibility {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: none;
  border: none;
  padding: 0;
}

.password-visibility img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.password-visibility img:hover {
  opacity: 1;
}

/* Password count */
.password-count {
  font-size: 12px;
  color: #666;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;
}