/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
/* Importation du style général du site */
@import url('designSite.css');

.profile-container {
    max-width: 500px;
    margin: 50px auto;
    background: var(--background-profile);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--shadow-03);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--link-profile);
}

.modify {
    display: block;
    margin-top: 10px;
    color: var(--link-profile);
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
}

.modify:hover {
    text-decoration: underline;
}

.profile-info {
    background: var(--background-profile-shadow);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
}

.profile-info h2 {
    font-size: 18px;
    color: var(--profile-h2);
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    margin: 5px 0;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: var(--link-profile);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--link-profile);
    transition: 0.3s;
}

.back-link:hover {
    background-color: var(--link-profile);
    color: var(--profile-link-hover)
}