/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
/* Importation du style général du site */
@import url('designSite.css');

.image-interactive {
    position: relative;
    display: inline-block;
}

.image-interactive .description {
    position: absolute;
    top: 60%;
    display: none;
    color: var(--white);
    font-family: "Inter Tight", serif;
    font-size: 8px;
    text-align: auto;
}

.image-interactive:hover .description {
    display: block;
}

.image-interactive:hover img.sejour {
    opacity: 0.5;
}

img.sejour {
    transition: opacity 0.3s ease;
    cursor:pointer;
    border-radius: 35px;
}

.contenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.offre {
    flex: 2;
    min-height: 200px;
    background-color: var(--aqua);
}

.filtrage {
    flex: 1;
    min-height: 200px;
    background-color: var(--brown-filtr);
}

.filtrage .zonedefiltrage {
    background-color: var(--bisque-filtr-zone);
}

.filtrage .zonedefiltrage .titre {
    font-size : 2rem;
    font-family: "Inter Tight", serif;
}

/* Media query pour les écrans de moins de 768px */
@media (max-width: 768px) {
    .contenu {
        flex-direction: column; /* Inverse l'ordre des éléments */
        height: auto;
    }
}