/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
@import url('designSite.css');

body {
    color: var(--white); 
    font-family: 'Inter Tight', sans-serif; 
    background-color: var(--blue-background); 
    margin: 0;
    padding: 0;
}

.btn-back {
    display: inline-block;
    padding: 12px 18px;
    background-color: var(--blue-background); 
    color: var(--white); 
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #1f5b8b; 
}


.detail-voyage ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px;
    margin-top: 30px;
}


.activity-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /
}




.image-detail {
    max-width: 100%;   
    width: 100%;       
    height: auto;      
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}


.hotel-section, .meals-section {
    background-color: var(--blue-background); 
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px;
}

.hotel-section h2, .meals-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--white);
}

.hotel-section p, .meals-section p {
    font-size: 1.1em;
    line-height: 1.5;
    color: var(--white); 
}


.hotel-image {
    width: 100%;            
    max-width: 900px; 
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

@media screen and (max-width: 768px) {
    .activity-image {
        height: 120px; 
    }

    ul {
        grid-template-columns: 1fr 1fr; 
    }

    .hotel-section, .meals-section {
        padding: 15px;
    }

    .btn-back {
        padding: 10px 15px; 
    }
}


.contenu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--white); 
    animation: fadeIn 1s ease-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.titre-voyage {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px 0;
    width: 100%;
    font-family: "Inter Tight", serif;
    color: var(--heading-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: var(--background-light);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}