/* Importation des couleurs et des polices de caractères et des transitions */
@import url('def.css');
/* Importation du style général du site */
@import url('designSite.css');

body {
    color: white;
}

.btn-back {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--blue-background);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


