header h1{
    text-align: center;
    font-family :Verdana, Geneva, Tahoma, sans-serif ;
    text-transform: capitalize;
    font-size: 68px;
}
header {
    background-color: aquamarine;
    opacity : 0.8;
}
button {
    background-color: blue;
    opacity : 0.2;
    font-size: 50px;
}

footer{
    background-color: rgb(58, 55, 55);
    font-size: 30px;
}