@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    }

legend {
        padding: 0px 3px;
        font-weight: 400px;
        font-family: "Inter Tight", serif;
      }
       
label {
        width: 120px;
        display: inline-block;
        vertical-align: top;
        margin: 6px;
      }

body {
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        height: 100vh; /* Pleine hauteur de l'écran */
        margin: 0;
        background-color: #f4f4f4;
      }
      
form {
        width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
      }